@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;500;600;700;800&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    background: #fefefe;
    font-family: 'Kumbh Sans', sans-serif;
}
a {
    outline: 0;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid #ccd7d7;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 15px;
}
.logo {
    padding-left: 3%;
    cursor: pointer;
}
.logo img {
    height: 100px;
    width: 100px;
}
.options {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    font-size: medium;
}
.menu {
    display: flex;
    justify-content: center;
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 0;
}
.menu__item {
    display: inline-block;
    white-space: nowrap;
}
.menu__item:last-child .menu__link {
    border-right: 0;
}
.menu__link {
    display: block;
    padding: 6px 30px 3px;
    border-right: 2px dotted #ccd7d7;
}
.menu__link:hover .menu__first-word,
.menu__link:focus .menu__first-word {
    transform: translate3d(0, -105%, 0);
}
.menu__link:hover .menu__second-word,
.menu__link:focus .menu__second-word {
    transform: translate3d(0, 105%, 0);
}
/* @media screen and (min-width: 768px) {
    .menu__link {
        padding: 6px 40px 3px;
   }
} */
.menu__title {
    display: inline-block;
    overflow: hidden;
}
.menu__first-word,
.menu__second-word {
    display: inline-block;
    position: relative;
    transition: transform 0.3s;
}
.menu__first-word::before,
.menu__second-word::before {
    position: absolute;
    content: attr(data-hover);
}
.menu__first-word {
    color: #0c8040;
}
.menu__first-word::before {
    top: 105%;
    color: #626262;
}
.menu__second-word {
    color: #626262;
}
.menu__second-word::before {
    bottom: 105%;
    color: #0c8040;
}
.signup_link {
    background: hsl(220, 13%, 13%);
    margin-left: 20px;
    margin-top: -3px;
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 6px;
    border-radius: 11px;
    text-align: center;
}
.signup_first-word {
    color: #07e26a;
}
.signup_first-word::before {
    color: rgb(247, 242, 242);
}
.signup_second-word {
    color: rgb(248, 244, 244);
}
.signup_second-word::before {
    color: #07e26a;
}

svg {
    width: 105%;
}

.midBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6%;
    padding-left: 4%;
    padding-top: 20px;
}
.leftBody {
    flex-basis: 50%;
}
.rightBody {
    flex-basis: 30%;
}
.rightBody .headers p {
    font-weight: 700;
    letter-spacing: 1.7px;
    color: #0c8040;
    padding-left: 2px;
}
.rightBody .headers h1 {
    font-size: 55px;
    font-weight: 800;
    color: hsl(220, 13%, 13%);
    letter-spacing: 1.5px;
    margin-top: 0;
}
form input {
    width: 87.5%;
    height: 55px;
    padding: 20px;
    outline: none;
    border: 0.1px solid #d6d2d2;
    background-color: #f0f0f0;
    border-radius: 15px;
    color: #333634;
    font-family: inherit;
    letter-spacing: 1.2px;
}

form label {
    display: block;
    margin-bottom: 9px;
    margin-top: 9px;
    margin-left: 6px;
    color: #065c2d;
    font-size: 13px;
    letter-spacing: 1.2px;
}

.emailDiv {
    margin-bottom: 20px;
}
.passwordDiv {
    margin-bottom: 20px;
}

.buttonDiv button {
    width: 60px;
    height: 60px;
    padding: 24px 32px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(29, 177, 10, 0.4);
    backdrop-filter: blur(30px);
    cursor: pointer;
    transition: all 0.7s;
}

.buttonDiv button:hover {
    background-color: rgba(29, 177, 10, 0.6);
}
.fa-arrow-right:before {
    position: absolute;
    text-align: center;
    content: "\f061";
    font-size: 20px;
    top: 34%;
    left: 40%;
}
.error_span {
    display: block;
    margin-top: 20px;
    color: #e40909;
}