<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/regsucess.css}">
    <title>BookLess | Success</title>
</head>
<body>
<section class="container">
    <div class="card">
        <div class="headers">
            <h1><span>Oops..!</span></h1>
            <p class = "para1">User verification link has expired</p>
            <p class="para2">Please click on the button below to generate a new link</p>
        </div>
        <div class="buttons">
            <button class="proceed" th:onclick="redi()">Generate</button>
        </div>
    </div>
</section>
<script th:inline="javascript">
    function redi() {
        let token =[[${token}]]

            window.location.href = "/resendVerifyToken?token=" + token;
    }
</script>
</body>
</html>