<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/regsucess.css}">
    <title>BookLess | Success</title>
</head>
<body>
<section class="container">
    <div class="card">
        <div class="headers">
            <h1><span>Thank You</span></h1>
            <p class = "para1">Verification Link has been sent</p>
            <p class="para2">Please Verify Your Account</p>
        </div>
    </div>
</section>
</body>
</html>